.body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: indigo;
  border-radius: 25px;
}
.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.button{
  min-width: 100px;
  min-height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background: white;
  overflow: hidden;
}
.buttonText{
  font-size: 30;
  text-shadow: 0px 0px 2px white;

}
.header{
  font-size: 25;
  width: 100%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
  color: white;
}
