.wrapper{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Input{
  border: 1px solid black;
  width: 100%;
  height: 90%;
  font-size: 15;
  padding: 10px;
}
.header{
  font-size: 25;
  width: 100%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}
