.body{

  height: 85px;
  background: #fafafa;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;


}
.cell{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cellFont{
  font-size: 13;
  text-align: center;
  color: black;
  margin-top: 5px;
}
.cellIconFont{
  font-size: 16;
  margin-bottom: 5px;
}
